

h2{
color: rgb(167, 8, 215);
font-size: 2.5rem;

}

.titulo-body{
    color:aquamarine;
    font-size:50px;
}

#titulo-section {
    color:blueviolet;
}

header {
 background-color:antiquewhite;
 border-radius: 12px;
 
}

nav ul {

    margin: 0;
    padding: 5px;
    display:flex;
    justify-content:space-around;
}